/* Common styles*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff;
    color: #2f2a2a;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 3%;
}

h1 {
    margin: 0;
}

h2 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    font-size: 80%;
    margin-top: 10px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #7ee1ff;
    content: '';
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;

}

section {
    padding: 100px 0;
    clear: both;
}
.float-clearing{
    zoom: 1;
}
.float-clearing:after{
    zoom: 1;
    content: '';
    clear: both;
    display:  block;
    height: 0;
    visibility: hidden;
}

/* Header styles*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(10, 33, 237, 0.7)), url("../images/IMG_7462.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header-text {
    padding-top: 150px;

}

#header-title {
    max-width: 50%;
    margin-left: 8.33%;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.179487em;
    font-size: 2em;
    line-height: 1.3em;
    font-weight: 400;
    font-style: normal;
    color: #7ee1ff;
}

#header-button {
    margin-left: 8.33%;
    margin-top: 20px;
    padding: 15px;

}

#logo-text {
    float: left;
}

#logo-image {
    height: 50px;
    width: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#main-nav {
    float: right;
    list-style: none;

}

#main-nav li {
    display: inline-block;
    margin-right: 30px;
    font-size: 0.8em;
}

#main-nav li a:link,
#main-nav li a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #7ee1ff;
    opacity: 0.5;
}

#main-nav li a:hover,
#main-nav li a:active {
    opacity: 1;

}

#logo-text a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-left: 30px;
    color: #7ee1ff;
}

nav {
    height: 70px;
    padding: 25px;
}

/* Button styles*/
.button:link,
.button:visited {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: #7ee1ff;
    font-weight: 300;
    border-radius: 150px;
    transition: background-color 0.3s, border 0.3s;
}

.button-order:link,
.button-order:visited {
    background: #0A21ED;
    border: 1px solid #7ee1ff;
}

.button-more:link,
.button-more:visited {
    border: 1px solid #7ee1ff;
}

.button:hover,
.button:active {
    background: #07169c;
}

/* Features styles*/
#headline-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 100%;

}

.features-icon {
    font-size: 300%;
    color: #7ee1ff;
    margin-bottom: 20px;
}

section p {
    font-size: 85%;
}

/* Food images*/
.images-container {
    list-style: none;
    width: 100%;

}

.images-container li {
    display: block;
    float: left;
    width: 25%;
}

.food-image {
    width: 100%;
    overflow: hidden;
    background: #000;
}

.food-image img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.food-image img:hover {
    opacity: 1;
    transform: scale(1.05);
}

/* How to order styles*/
#phone-image {
    width: 100%;
}

#phone-image-container {
    margin-left: 10%;
    margin-right: 3%;
}

.order-step {
    margin-top: 100px;
}

.order-step div {
    color: #7ee1ff;
    width: 50px;
    height: 50px;
    border: 2px solid #7ee1ff;
    border-radius: 150px;
    text-align: center;
    padding: 5px;
    font-size: 150%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

.order-step p {
    padding-top: 5px;
}

.app-button img {
    height: 50px;
    margin-right: 10px;
}
.order-step:last-of-type{
    margin-bottom: 100px;
}
/* Cities styles*/
.col-3 img{
    width: 100%;
}
.city-info{
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 70%;
}
.info-icon{
    display: inline-block;
    text-align: center;
    width: 30px;
    color: #7ee1ff;
}
.cities-section{
background-color: #c5c0c0;
}